body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #4A5D23;
    color: white;
    font-weight: bold;
}
h1{
    color: goldenrod;
    font-size: 2.2rem;
}
button{
    width: 120px;
    background-color: goldenrod;
    color: #3c5706;
    cursor: pointer;
    border-radius: 10px;
}